.fieldset {
  border-top: 4px solid #66666f;
  border-left: 4px solid #88888f;
  border-right: 4px solid #bbbbbf;
  border-bottom: 4px solid #dddddf;
  margin: 8px;
  display: inline-block;
  background: #b6b6bf;
}
legend {
  font-weight: bold;
}
