.toggle-wrap {
  height: 24px;
  width: 48px;
  position: relative;
  .toggle-track {
    position: relative;
    top: 6px;
    margin: 0 auto;
    width: 32px;
    height: 12px;
    border-radius: 6px;
    background: #666;
  }
  .toggle {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid #335;
    background: #333;
    transition: left 0.2s, background 0.2s;
  }
  .toggle.on {
    left: 24px;
    background: #00B8DB;
  }

}